@font-face {
  font-family: "Nexa Rust";
  src: url("../assets/fonts/nexa-rust.slab-black-shadow-01.otf");
}

@font-face {
  font-family: "Billabong";
  src: url("../assets/fonts/FontsFree-Net-Billabong.ttf");
}